
@charset "utf-8";
body {
    color: #999999;
    font-size: 12px;
}
A {
    color: #585757;
    text-decoration: none;
}
A:hover {
    color: #BD0505;
    text-decoration: underline;
}
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.foot_content {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 990px;
}
.f_banner {
    height: 167px;
    margin-bottom: 10px;
    width: 100%;
}
.f_position {
    padding: 0 0 0 10px;
}
.p_middle {
    margin: 10px 0;
    overflow: hidden;
    zoom:1;
    padding: 0 0 10px;
    width: 100%;
}
.p_con_l {
    color: #000000;
    float: left;
    margin: 0;
    width: 350px;
}
.p_con_r {
    color: #000000;
    float: right;
    margin: 0;
    width: 350px;
}
.p_middle_left {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E3E1E1;
    float: left;
    margin: 0 10px;
    position: relative;
    width: 220px;
}
.p_middle_left ul {
    list-style: none outside none;
    padding: 15px 10px 20px 0;
}
.p_middle_left ul li {
    height: 30px;
}
.p_middle_left #on {
    background: url("../images/p_middle_on.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 36px;
    left: -5px;
    position: absolute;
    width: 238px;
}
.p_middle_left ul li a {
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    outline: medium none;
    padding: 0 0 0 20px;
}
.p_middle_left ul li a:hover {
    background: url("../images/p_middle_on.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 36px;
    left: -5px;
    position: absolute;
    text-decoration: none;
    width: 238px;
}
.p_middle_right {
    float: right;
    margin: 0 15px 0 0;
    padding: 0;
    width: 720px;
}
.p_title {
    background: url("../images/p_title_bg.gif") repeat-x scroll 0 0 transparent;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
.p_title p {
    color: #FF6F20;
    font-size: 14px;
    padding: 0 0 0 10px;
}
.p_title em {
    padding: 0 5px;
}
.p_con_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #E3E1E1;
    border-right: 1px solid #E3E1E1;
    color: #000000;
    overflow: auto;
}
.p_con_middle p {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 5px 0 0 20px;
}
.p_con_middle p span {
    font-size: 14px;
    margin-right: 80px;
}
.p_flink {
    background: none repeat scroll 0 0 #F0F0F0;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    margin: 0 0 5px;
    width: 100%;
}
.p_flink p {
    text-align: center;
}
.p_flink a {
    color: #000000;
    font-size: 12px;
    margin: 0 5px;
    text-decoration: none;
}
.p_flink a:hover {
    text-decoration: underline;
}
.p_logo {
    text-align: center;
}
.p_logo p {
    height: 20px;
    line-height: 20px;
}
.p_logo span {
    padding: 0 5px;
}
.p_help_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #E3E1E1;
    color: #000000;
    margin: 8px 0;
    overflow: auto;
}
.p_help_middle p {
    font-size: 14px;
    padding: 10px 15px 0 20px;
    text-align: justify;
}
.p_help_middle p span {
    font-size: 14px;
    margin-right: 90px;
}
.p_helpcon_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #E3E1E1;
    border-right: 1px solid #E3E1E1;
    color: #000000;
    overflow: auto;
}
.p_helpcon_middle p {
    font-size: 14px;
    padding: 5px 15px 0 20px;
    text-align: justify;
}
.p_helpcon_middle p span {
    font-size: 14px;
    margin-right: 90px;
}
.p_help_w {
    padding: 10px 15px;
}
.helpmore {
    float: right;
}
.p_help_c {
    margin: 5px 0 10px 50px;
}
.p_help_c ul {
    list-style-position: outside;
    list-style-type: circle;
}
.p_help_c ul li a {
    color: #585757;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}
.p_help_c ul li a:hover {
    color: #BD0505;
    text-decoration: underline;
}
.map_table {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 15px 0 10px 30px;
}
.map_table a {
    margin: 0 5px;
}
.map_table td, th {
    border-bottom: 1px solid #BEBABB;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
}
.map_table th {
}
.map_table a {
    color: #FF6F20;
}
.map_table a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-decoration: none;
}
.c_phone .c_email {
    color: #177ED2;
    font-size: 16px;
    font-weight: bold;
}
.p_con_w p {
    color: #000000;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    padding: 0 15px 0 35px;
    text-align: justify;
}
.contact_img {
    margin: 15px 0 5px 20px;
}
.map_title {
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #C1BDBE;
    border-right: 1px solid #C1BDBE;
    border-top: 2px solid #FF6F20;
    color: #4F4F4F;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0 0;
    padding: 0 0 0 10px;
}
.map_title em {
    font-style: normal;
    padding: 0 6px;
}
.map_content {
    border: 1px solid #C1BDBE;
    font-size: 14px;
    padding: 15px;
}
.map_content a {
    color: #FF6F20;
}
.map_content a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-decoration: none;
}
.pindao {
    border-right: 1px solid #000000;
    font-weight: bold;
    padding: 0 15px 0 0;
}
.map_content p {
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 10px;
}
.lanmu {
    padding: 0 8px;
}
.servicebanner {
    margin: 8px auto;
}
.ab_con_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #E3E1E1;
    border-right: 1px solid #E3E1E1;
    color: #000000;
    overflow: auto;
}
.flink_title {
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #C1BDBE;
    border-right: 1px solid #C1BDBE;
    border-top: 2px solid #FF6F20;
    color: #4F4F4F;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0 0;
    padding: 0 0 0 10px;
}
.flink_content {
    border: 1px solid #C1BDBE;
    font-size: 12px;
    padding: 12px 22px;
}
.flink_content a {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin: 2px 8px;
    outline: medium none;
}
.flink_content a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    text-decoration: none;
}
.flink_content_img {
    border: 1px solid #C1BDBE;
    font-size: 14px;
    padding: 15px;
}
.flink_content_img a {
    outline: medium none;
    text-decoration: underline;
}
.flink_content_img img {
    margin: 2px 6px;
}
.ab_con_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #E3E1E1;
    border-right: 1px solid #E3E1E1;
    color: #000000;
    overflow: auto;
}
.ab_con_middle p {
    font-size: 14px;
    line-height: 30px;
    padding: 5px 0 0 20px;
    text-indent: 28px;
}
.ab_con_w p {
    color: #000000;
    font-size: 14px;
    line-height: 33px;
    padding: 0 25px 10px 35px;
    text-align: justify;
}
.copy_con_middle {
    background: none repeat scroll 0 0 #F6F6F6;
    border-left: 1px solid #E3E1E1;
    border-right: 1px solid #E3E1E1;
    color: #000000;
    overflow: hidden;
    zoom:1;
}
.copy_con_middle p {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 0 0 20px;
    text-indent: 28px;
}
.copy_con_w p {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    padding: 0 25px 10px 35px;
    text-align: justify;
}
