
<table width="729" border="0" cellspacing="0" cellpadding="0" >
    <tr>
        <td class="t1" width="80%">信息内容</td>
        <td class="t1" width="20%">发送时间</td>
    </tr>
    <tbody id="tblSms">
    #{if homeWorkPage == null || homeWorkPage.data == null}
         没有相关信息！
    #{/if}
    #{else }
        #{list items:homeWorkPage.data,as:'data'}
        <tr>
            <td style="text-align:left">
                 ${data['MSM_CONTENT']}
            </td>
            <td>
                  ${data['DISPLAY_DATE']}
            </td>
        </tr>
        #{/list}
    #{/else}
    </tbody>
</table>


<div class="pageNav">
#{page page : homeWorkPage, url : "/HomeWorks/plist", paramIds : "xsId startTime endTime", isAjax : "true"/}
</div>

