
    <table width="729" border="0" cellspacing="0" cellpadding="0" >
        <tr>
            <td class="t1" width="12%">学生姓名</td>
            <td class="t1" width="61%">信息内容</td>
            <td class="t1" width="15%">发送时间</td>
        </tr>
        <tbody id="tblSms">

            #{if homeWorkPage == null || homeWorkPage.data == null}
                 没有相关信息！
            #{/if}
            #{else }
                #{list items:homeWorkPage.data,as:'data'}
                    <tr>
                        <td>
                        ${data['XS_XMING']}
                        </td>
                        <td style="text-align:left">
                        ${data['MSM_CONTENT']}
                        </td>
                        <td>
                        ${data['DISPLAY_DATE']}
                        </td>
                    </tr>
                #{/list}
            #{/else}
        </tbody>
    </table>


    <div class="pageNav">
     #{page page : homeWorkPage, url : "/HomeWorks/tlist", paramIds : "bjId startTime endTime", isAjax : "true"/}
    </div>
