<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/base.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/spacehome.css'}">
    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/image.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
        $(function(){
            $("#addFriend").click(
                    function(){
                        $.post("/UserFriends/addFriend?friendId=" + ${userBase.id}, function(data) {
                            $('#removeFriend').show();
                            $('#addFriend').hide();
                        });
                    });
        });

        $('#removeFriend').click(function(){
            $.post("/UserFriends/removeFriend?friendId=" + ${userBase.id}, function(data) {
                $('#removeFriend').hide();
                $('#addFriend').show();
            });
        });
    </script>
</head>

<body class="w_home_body">
<div class=" w_home_toolbar">
    <div class="tit x_head w_home_toolbar_title">
        <a target="_blank" title="首   页" href="${play.configuration["portal.domain"]}">首   页</a>
        <a target="_blank" title="教育在线" href="${play.configuration["portal.domain"]}/newses/index">教育在线</a>
        <a target="_blank" title="教育知识" href="${play.configuration["portal.domain"]}/knowledges/index">教育知识</a>
        <a target="_blank" title="互动社区" href="${play.configuration['portal.domain']}/boards/index">互动社区</a>
        <a target="_blank" title="我的小家" href="${play.configuration['portal.domain']}/myhomes/index">我的小家</a>
    </div>
    <div id="loginbar" class="subNav">欢迎你来到子贵,
        #{if !username}
            <a href="/login">登录</a>
            <a href="${play.configuration['portal.domain']}/UserBases/registerUI">注册</a>
            <script src="@{'/public/javascripts/user.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{/if}
    </div>
</div>
<div class="w_home_header">
    <div class="w_home_treenav">
        <h1>${userBase.nickName}的小家</h1>
        <div class="bloglink">
            <br>欢迎光临我的小家
        </div>
    </div>
    <ul class="w_home_nav">
        <li class="active new"><a href="/MyHomes/list?userId=${userBase.id}"><span>小家主页</span></a></li>
        <li><a href="/UserDiarys/list?userId=${userBase.id}"><span>日记</span></a></li>
        <li><a href="/PhotoAlbums/list?userId=${userBase.id}"><span>相册</span></a></li>
        <li><a href="/UserMoods/list?userId=${userBase.id}"><span>心情</span></a></li>
        <li><a href="/UserMessages/list?userId=${userBase.id}"><span>留言板</span></a></li>
        <li><a href="/Forums/myHomeList?userId=${userBase.id}"><span>帖子</span></a></li>
        <li><a href="/UserFriends/list?userId=${userBase.id}"><span>好友</span></a></li>
        <li><a href="/user/point_history.jsp"><span>积分明细</span></a></li>
        <li><a href="/user/mail.jsp?kind=1"><span>站内信</span></a></li>
    </ul>

</div>
<div class="w_home_content">
    <div class="w_home_content_box clearfix">
        <div style="left:20px;" class="l w-190 my_left hei-400">
            <div class="my_info">
                <dl class="f">
                    <dt>
                        <a class="a-img1" target="_blank" href="#">
                            <img src="${ctx}/${userBase.photo}" alt=" ">
                        </a>
                    </dt>
                    <dd><a class="name" href="#">${userBase.nickName}</a></dd>
                    <dd>积分：${userBase.points}</dd>
                    <dd>
                        性别：${userBase.sex==0? '保密':(userBase.sex==1?"男":"女")}
                    </dd>
                    <dd>地区：${userBase.province}</dd>
                </dl>
                <p class="reqm"><b>个人签名：</b>好好学习</p>
            #{if user!=null && user.id == userBase.id}
                <a class="inp_sum4" href="/UserBases/alterPtoho?userId=${userBase.id}">修改头像</a>
                <a class="inp_sum4" href="/UserBases/alterInformation?userId=${userBase.id}">修改资料</a>
                <a class="inp_sum4" href="/UserBases/alterPassword?userId=${userBase.id}">修改密码</a>
                <a class="inp_sum4" href="/payment/chongzhi_1.jsp">我要充值</a>
                <a class="inp_sum4" href="/source/addsourceGet.action">上传资源</a>
                <a class="inp_sum4" href="/source/sourceList.action">我上传的资源</a>
                <!--<a href="/user/select_role.jsp" class="inp_sum4">完善资料</a>-->
            #{/if}

            #{if user != null && user.id != userBase.id && !friendIds.contains(userBase.id)}
                <a id="addFriend" class="inp_sum4" href="javascript:void(0)" style="">加为好友</a>
                <a id="removeFriend" class="inp_sum4" href="javascript:void(0)" style="display: none;">移除好友</a>
            #{/if}

            #{if user != null && user.id != userBase.id && friendIds.contains(userBase.id)}
                <a id="addFriend" class="inp_sum4" href="javascript:void(0)" style="display: none;">加为好友</a>
                <a id="removeFriend" class="inp_sum4" href="javascript:void(0)" >移除好友</a>
            #{/if}
            </div>
        </div>
        <div style="display:none;" id="send_mail_dialog">
            <div class="alert alert-620">
                <form name="form_send_mail" id="form_send_mail" method="post" action="/user/message_saveMail.action">
                    <div class="body">
                        <div class="cont">
                            <ul class="padding-25">
                                <li class="margin-10">
                                    <label class="label font-14">私信标题：</label>
                                    <input type="text" maxlength="20" validation="required" id="message.title" name="message.title" class="txt input-265"><span style="display:none;color:red;">私信标题不能为空</span>
                                </li>
                                <li onclick="document.getElementById('placeholder').style.display='none';" class="margin-10">
                                    <label class="label_top font-14">私信内容：</label>
                                    <textarea id="message.text" name="message.text" class="area" rows="5"></textarea>
                                    <span id="album-placeholder" class="placeholder" style="position: absolute; top: 70px; color: rgb(153, 153, 153); left: 134px;"></span>
                                    <span style="display:none;color:red;"></span>
                                </li>

                                <input type="hidden" value="383" name="message.toUser.id">

                                <li class="nopadding btn-box">
                                    <input type="submit" class="btn2" value="确定">
                                    <img id="form_send_mail_loading" style="display:none" src="/img/common/loading_pic_s.gif">
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <link type="text/css" rel="stylesheet" href="http://static01.babytreeimg.com/img/css/boxy2.css?ver=20110707">
        <script type="text/javascript" src="http://static01.babytreeimg.com/img/js/boxy2.js?ver=1315188206"></script>
        <script>
            jQuery(document).ready(function(){
                boxy2_init(true);    //里面的参数表示是否带标题栏
            });
            $(function(){
                $("#addFriend").click(
                        function(){
                            $.post("/userFriend_addFriendAjax.action?hostUserName=" + encodeURIComponent('lala'), function(data) {
                                $('#removeFriend').show();
                                $('#addFriend').hide();
                            });
                        });
            });
            $('#removeFriend').click(function(){
                $.post("/userFriend_removeFriendAjax.action?hostUserName=" + encodeURIComponent('lala'), function(data) {
                    $('#removeFriend').hide();
                    $('#addFriend').show();

                });
            });
            $('#sendMail').click(function(){
                boxy2.pop(jQuery('#send_mail_dialog').html(),620,220);
                boxy2.title('发送私信');
            });

            $(function(){
                $.post("/userFriend_getFriendRelationAjax.action?hostUserName=" + encodeURIComponent('lala'), function(data) {

                    if(data.userFriend != null &amp;&amp; data.userFriend.id &gt; 0){
                        $('#removeFriend').show();
                        $('#sendMail').show();
                        $('#addFriend').hide();
                    }else{
                        $('#removeFriend').hide();
                        $('#sendMail').hide();
                        $('#addFriend').show();
                    }

                });
            });
        </script>
    #{doLayout /}
    </div>
</div>
<div class="p_all">
    <div class="p_flink">
        <p>
            <a href="/HelpCenters/aboutus" target="_blank">关于我们</a>|
            <a href="/HelpCenters/contract" target="_blank">服务协议</a>|
            <a href="/HelpCenters/service" target="_blank">客服中心</a>|
            <a href="/HelpCenters/feedback" target="_blank">意见反馈</a>|
            <a href="/HelpCenters/recruit" target="_blank">网站招聘</a>|
            <a href="/HelpCenters/map" target="_blank">网站地图</a>|
            <a href="/HelpCenters/contact" target="_blank">联系我们</a>|
            <a href="http://dsis.ziguiw.com/topic/cloud/index.jsp" target="_blank">数字校园云服务展会专题</a>|
            <a href="http://dsis.ziguiw.com/topic/cloud/footmark_two.jsp" target="_blank">轨迹查询</a>|
            <a href="/HelpCenters/copyright" target="_blank">版权所有</a>|
            <a href="/HelpCenters/helpcenter" target="_blank">帮助中心</a>
        </p>
    </div>

    <div class="p_logo">
        <p>
            Copyright  &copy;  2012 <a href="http://www.ziguiw.com">ziguiw.com</a> All Rights Reserved <a href="http://www.miibeian.gov.cn/">湘ICP备09002922号-3</a>
        </p>
        <p>
            经营许可证编号：湘 B2-20120065 客服邮箱：<a href="mailto:kf@ziguiw.com">kf@ziguiw.com</a>
            <!-- WPA Button Begin -->
            <script type="text/javascript" src="http://static.b.qq.com/account/bizqq/js/wpa.js?wty=1&type=2&kfuin=4009952116&ws=www.ziguiw.com&btn1=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8DQQ&aty=0&a=&key=Z3%076%036Rn%00%3DS0%013Q9U4Sa%0F6Q%3FTg%02lR4%06a%0Fc%044VjQb"></script>
            <!-- WPA Button END -->
        </p>
        <img src="/public/images/logo.jpg" />
    </div>
</div>
</body>
</html>