#{if session.get("xxydClassId")}
    #{extends 'CRUD/classLayout.html' /}
#{/if}
#{else }
    #{extends 'CRUD/layout.html' /}
#{/else}
#{set title:messages.get('crud.blank.title', type.displayName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.displayName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form fields:[ 'title','type','url','videoUrl','content']}
            #{crud.custom 'content'}
                #{editor id:"object_content", name:"object.content" /}
            #{/crud.custom}
            #{crud.custom 'url'}
                <label for="object_url">封面图</label>
                <input type="file" id="object_url" name = "file">
            #{/crud.custom}
            #{crud.custom 'videoUrl'}
                <label for="object_videoUrl">视频</label>
                <input type="file" id="object_videoUrl" name = "videoUrl">
            #{/crud.custom}
            #{crud.custom 'type'}
                <label for="object_type">类型</label>
                <select name="object.type" id="object_type">
                %{
                    com.arj.ziguiw.common.SchoolXxydType.map.each {
                    }%
                    <option name="object.type" value="${it.key}" #{if object.type == it.key} selected="true" #{/if}>${it.value}</option>
                %{
                    }
                    }%
                </select>
            #{/crud.custom}
        #{/crud.form}
        <input type="hidden" name="object.school.id" value="${school.id}" />
        <input type="hidden" name="object.clazz.id" value="${session.get("xxydClassId")}">
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.displayName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.displayName}" />
            *{<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.displayName}" />}*
        </p>
    #{/form}
    </div>

</div>