#{extends 'resources.html'/}
#{set "title"}
${resource.title}
#{/set}
#{stylesheet src:"source_detail.css" /}
<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="@{'/public/javascripts/AC_RunActiveContent.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/flexpaper/js/flexpaper_flash.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{script src:"base.js" /}
<script type="text/javascript">
    function down(resourceId,point){
        if(confirm("需要" + point + "个积分")){
            document.getElementById("download").href = "/Resources/download?resourceId=" +　resourceId;
        }
    }
    function dianbo(resourceId,point){
        if(confirm("需要" + point + "个积分")){
            document.getElementById("dianbo").href = "/Resources/play?resourceId=" +　resourceId;
        }
    }

    function collect(resourceId){
        var url = "/Resources/collect";
        $.ajax({
            type: "GET",
            url: url,
            data: "resourceId=" + resourceId,
            success: function(msg){
                alert("已加入收藏");
            }
        });
    }
    function isContent(){
        var title = $("#content").val();
        if(title.length==0){
            alert("文件标题不能为空!");
            return false;
        }
        if(title.length > 100){
            alert("文件标题字符必须小于256!");
            return false;
        }
        return true;
    }

</script>
<div class="t-AD-03">
    <p class="text-1-3"></p>
    <p>
        <a href="${play.configuration['portal.domain']}/MyHomes/addResource">
            <img border="0" src="/public/images/zaixiananniu.jpg">
        </a>
    </p>
</div>
<div class="t-sou-lie">
    <p class="text-1-3">
        您的位置：子贵网&nbsp;&gt;&nbsp;<a href="/Resources/index">教育资源</a>
        &nbsp;&gt;&nbsp;${resource.title}
    </p>
</div>

<div class="t-neirong-01 mb10">
<div class="desc_cont">
<div class="t-neirong-liebiao-z">
    <p align="center" style="line-height: 60px;" class="text-1-4">${resource.title}</p>
    <p align="center" style="line-height: 36px;" class="text-1-3">阅读人数：${resource.clickCount}人次
    </p>
    <p></p>
    #{if flash.error!=null}
        <script type="text/javascript">
            alert("积分不足！请充值");
        </script>
    #{/if}
    #{if resource.resourceFileType.toUpperCase().equals("FLV")}
        #{if flag!=null && flag == true}
            <script language="javascript">
                if (AC_FL_RunContent == 0) {
                    alert("This page requires AC_RunActiveContent.js.");
                } else {
                    AC_FL_RunContent(
                            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
                            'width', '665',
                            'height', '379',
                            'src', '/public/javascripts/jcplayer',
                            'quality', 'high',
                            'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
                            'align', 'middle',
                            'play', 'true',
                            'loop', 'true',
                            'scale', 'noScale',
                            'wmode', 'window',
                            'devicefont', 'false',
                            'id', 'jcplayer',
                            'bgcolor', '#ffffff',
                            'name', 'jcplayer',
                            'menu', 'true',
                            'allowFullScreen', 'true',
                            'allowScriptAccess','sameDomain',
                            'FlashVars','videoURL=${ctx}/${resource.resourcePath}&autoPlay=true&backgroundColor1=0x333333&backgroundColor2=0x222222',
                            'movie', '/public/javascripts/jcplayer',
                            'salign','TL'
                    ); //end AC code
                }
                <!--Settable JCPlayer  params :startPhotoSource,videoURL,loop,autoPlay,scaleMode,volume,bufferTime,backgroundColor1,movieBackgroundColor,backgroundColor2,highlightColor,inkColor,playButton,timeBar,seekBar,volumeButton,fullScreenButton,skin,smoothing,autoHide,autoHideFullScreen,offsetY,offsetYFullScreen,margins,marginsFullScreen -->
            </script>
            <noscript>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="609" height="379" id="jcplayer" align="TL">
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="FlashVars" value="videoURL=${ctx}/${resource.resourcePath }&autoPlay=false&backgroundColor1=0x333333&backgroundColor2=0x222222"/>
                    <param name="allowFullScreen" value="true" />
                    <param name="salign" value="TL" />
                    <param name="scale" value="noScale" />
                    <param name="movie" value="/public/javascripts/jcplayer.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <embed src="/public/javascripts/jcplayer.swf" FlashVars="videoURL=${ctx}/${resource.resourcePath }&autoPlay=true&backgroundColor1=0x333333&backgroundColor2=0x222222" quality="high" bgcolor="#ffffff" width="609" height="379" name="jcplayer" align="middle" salign="TL" scale="noScale" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                </object>
            </noscript>
        #{/if}
        #{else }
            <img src="/public/images/vedio_load.gif" alt="">
        #{/else}
    #{/if}
    #{elseif resource.resourceFileType.toUpperCase().equals("RAR")}
    #{/elseif}
    #{elseif resource.resourceFileType.toUpperCase().equals("CHM")}
    #{/elseif}
    #{elseif resource.resourceFileType.toUpperCase().equals("EXE")}
    #{/elseif}
    #{else resource.resourceFileType.equals("") }
        <a id="viewerPlaceHolder" style="width:665px;height:650px;display:block"></a>
        <script type="text/javascript">
            var fp = new FlexPaperViewer (
                    '/public/flexpaper/FlexPaperViewer',
                    'viewerPlaceHolder', { config : {
                        SwfFile : escape('${ctx}/${models.Resource.getSwfPath(resource.resourcePath)}'),
                        Scale : 0.6,
                        ZoomTransition : 'easeOut',
                        ZoomTime : 0.5,
                        ZoomInterval : 0.2,
                        FitPageOnLoad : true,
                        FitWidthOnLoad : false,
                        PrintEnabled : false,
                        FullScreenAsMaxWindow : false,
                        ProgressiveLoading : true,
                        MinZoomSize : 0.2,
                        MaxZoomSize : 5,
                        SearchMatchAll : false,
                        InitViewMode : 'Portrait',
                        ViewModeToolsVisible : true,
                        ZoomToolsVisible : true,
                        NavToolsVisible : true,
                        CursorToolsVisible : true,
                        SearchToolsVisible : true,
                        localeChain : 'zh_CN',
                        height : '650px'
                    }});
        </script>
    #{/else}
    <!-- Baidu Button BEGIN -->
    <div class="sharepo">
        <p class="sm">
            ${resource.description}
        </p>
        <div class="clear"></div>
        <div class="s_button">
            <div class="res_s_point">
                <ul>
                    <li>
                        #{if resource.resourceFileType.toUpperCase().equals("FLV")}
                            <a  id="dianbo" ><img src="/public/images/Buttons_p.gif" onclick="dianbo(${resource.id},${resource.needPoint})"></a><span class="jifen">${resource.needPoint}积分</span>
                        #{/if}
                        #{else }
                            <a target="_blank" id="download" ><img src="/public/images/Buttons_d.gif" onclick="down(${resource.id},${resource.needPoint})"></a><span class="jifen">${resource.needPoint}积分</span>
                        #{/else}
                        <a onclick="collect(${resource.id})">
                            <img src="/public/images/Buttons_s.gif">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="../images/s_button_img">

            </div>
            <p class="come_from">除非注明，本站文章均为原创；转载请注明：文章来自。</p>
        </div>
    </div>
    <!-- Baidu Button END -->



</div>

<!--comment B-->
    <div class="desc_comment">
        <form action="/ResourceComments/create" method="post" onsubmit="return isContent()">
            <input type="hidden" name="resourceId" value="${resource.id}" id="resourceId"/>
            <input type="hidden" name="flag" value="${flag}" id="flag">
            <div class="desc_comment_tit">
                <h3>发表评论</h3>
            </div>
            <div class="desc_comment_cc">
                <div class="desc_touxiang">
                    <img src="/public/images/touxiang_m.gif">
                </div>

                <div class="desc_comment_con">
                    <div class="ds-textarea-wrapper">
                        <textarea class="ds-textarea-wrapper_bg" name="content" id="content"></textarea>
                        <pre class="ds-hidden-text"></pre>
                    </div>
                    <div class="ds-post-toolbar">
                        <div class="ds-post-options ds-gradient-bg"><span><a href="#"><img src="../images/ds-post-options.gif"></a></span> <span></span></div>
                        <button type="submit" class="ds-post-button">发布</button>
                        <div class="ds-toolbar-buttons">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <p>&nbsp;限填100字</p>
                </div>

            </div>
        </form>

        <!--comment list B-->
        <div class="desc_comm_other" id="listTable">
            <ul>
            #{list page.data,as : 'data'}
                <li>
                    <div class="desc_other_l">
                        <p><img src="/public/images/touxiang_m.gif"></p>
                        <p class="desc_other_name">${data.userBase.nickName}</p>
                        <p>(${data.userBase.province})</p>
                    </div>
                    <div class="desc_other_r">
                        <div class="desc_other_con">
                            <p class="desc_other_time">[${data.createTime.format("yyyy-MM-dd HH:mm")}]</p>
                            <p>${data.content}</p>
                        </div>
                    </div>
                </li>
            #{/list}
            </ul>

            <!--pagenum B-->
            <div style="text-align: center">
                #{page1 page:page,url:'/Resources/show',paramIds:'resourceId flag',isAjax:'true'/}
            </div>
            <!--pagenum E-->
        </div>
        <!--comment list E-->



    </div>
    <!--comment E-->



</div>


<div class="t-neirong-01-y">
    <div class="source_inf mb10">
        <div class="re_xia-nei-da-box-xia-biao">
            <span class="source_title">&nbsp;文档信息</span>
        </div>
        <div class="source_inf_cont">
            <ul>
                <li>昵称：${resource.user.nickName}</li>
                <li>文件大小：${resource.resourceSize}KB</li>
                <li>贡献于：${resource.createTime.format("yyyy-MM-dd HH:mm")}</li>
                <br>
                <li>

                    <div class="r_left">
                        <p>
                            <span><b>3分</b></span>
                                        <span>
                                            <b><img src="/public/images/s_rate_good.gif"></b>
                                            <b><img src="/public/images/s_rate_good.gif"></b>
                                            <b><img src="/public/images/s_rate_good.gif"></b>
                                            <b><img src="/public/images/s_rate_good.gif"></b>
                                            <b><img src="/public/images/s_rate_bad.gif"></b>
                                        </span>
                        </p>
                        <p><span class="r_have"><a href="#">(已有322人评价)</a></span></p>
                    </div>

                    <div class="r_right">
                        <span class="esti"><a href="#"><img src="/public/images/Buttons_rate.gif"></a></span>
                    </div>
                </li>

                <li>你的评价，会给更多的用户带来帮助。</li>
            </ul>
        </div>
    </div>

    <div class="source_inf">
        <div class="re_xia-nei-da-box-xia-biao">
            <span class="source_title">&nbsp;最新上传</span>
        </div>
        <div class="source_inf_cont">
            <ul>
            #{list newResource,as : 'resource'}
                <li>
                    <a  href="/Resources/show?resourceId=${resource.id}">
                    ${resource.title.length()>14? resource.title[0..14] + '..' : resource.title}
                    </a>
                </li>
            #{/list}
            </ul>
        </div>
    </div>


    <div class="re_xia-nei-da-box-xia-biao">
        <span class="source_title">&nbsp;喜欢这个文档的还喜欢</span>
    </div>
    <div class="t-neirong-01-y-nei">
        <ul>
            #{list downResource,as : 'resource'}
                <li>
                    <a  href="/Resources/show?resourceId=${resource.id}">
                    ${resource.title.length()>14? resource.title[0..14] + '..' : resource.title}
                    </a>
                </li>
            #{/list}
        </ul>
    </div>
</div>

<div class="clear"></div>
</div>