#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.displayName}</h2>

	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table fields:['id', 'name']}
		    #{crud.custom 'name'}
		        <a href="@{Mysqls.show(object.id)}">
		            ${object.name.length() > 50 ? object.name[0..50] + '..' : object.name}
		        </a>
		    #{/crud.custom}
		#{/crud.table}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
	
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.displayName}</a>
	</p>

</div>
