#{extends 'homemain.html'/}
#{set 'title'}
我的空间-创建相册
#{/set}

<div class="sp_main_right">
<div class="cont">
    <h2 class="creat_tit">创建相册</h2>
    <form action="/PhotoAlbums/create" method="post">
        <div class="red">${flash.error}</div>
        <ul class="padding-25">
            <li>
                <span>相册名称:</span>
                <input type="text" class="inp_txt" name="name" />
            </li>
            <li>
                <span>描述:</span>
                <input type="text" class="inp_txt" name="describe">
            </li>
            <li>
                <input type="submit" class="btn2" value="确认" name="Submit1">
            </li>
        </ul>
    </form>
</div>
</div>