<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #{stylesheet src:'style.css'/}
    #{script src:'jquery-1.7.2.min.js'/}
    <script type="text/javascript">
        function  change1(){
            document.getElementById("username").value="";
        }
        function  change2(){
            document.getElementById("password").value="";
        }
    </script>

    <title>子贵网_手机版_登录 </title>
</head>

<body>
%{
    String nickName="请输入用户名";
    String password="请输入密码";
}%

<div class="header">
    <img src="/public/images/login.png"/>
</div>
<div class="margin_height"></div>
<div class="middle">
#{form action:@WapUCs.wapLogin(),enctype :'multipart/form-data',method:'post',id:'formLogin'}

        <ul class="login">
            <li>
                用户名：
            </li>
            <li>
                <input type="text" id="nickName" name="nickName" class="xg font-2" value="%{nickName}%"  onfocus="change1()" >
            </li>
        </ul>
        <ul class="login">
            <li>
                密码：
            </li>
            <li>
                <input type="password" id="password" name="password" value="%{password}%" class="xg font-2"onfocus="change2()">
            </li>
        </ul>
        <ul class="login">
            <li>
                <input type="checkbox" class="xz"  id="saveUser" name="saveUserInCookie">
                记住我(一个月内自动登录)
            </li>
            <li>
                <div id="errorMsg" style="color: #ff0000;">
                    ${verifyResult}
                </div>
            </li>
        </ul>
        <ul class="login">
            <li>
                <input type="submit" class="an" value="登录" name="input2" id="wapLogin">
                <span><a href="#">忘记密码？</a></span>
            </li>
        </ul>

#{/form}
</div>
<div class="margin_height"></div>
<div class="footer">
    <img src="/public/images/footer_note.png" />
</div>

</body>
</html>
