#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.displayName) /}


<script type="text/javascript">
    function getClasses(obj){
        $("#object_classId").empty();
        var xxId = obj.value;
        $.get("/Schools/clazz", {xxId : xxId}, function (data){
            for (var i = 0; i < data.length; i++) {
                $("#object_classId").append("<option value='" + data[i].id +"'>" + data[i].name + "</option>");
            }
        });
    }
</script>

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.displayName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{if session.get("classAdminPhotoType") && com.arj.ziguiw.common.SchoolPhotoType.PHOTO == Integer.valueOf(session.get("classAdminPhotoType"))}
        #{crud.form fields:['title', 'url','describe','xxId','classId']}
            #{crud.custom 'title'}
                <label for="object_title">标题</label>
                <input type="text" id = "object_title" name="object.title" size="75">
            #{/crud.custom}
            #{crud.custom 'describe'}
                <label for="object_describe">描述</label>
                <textarea id="object_describe" name="object.describe" rows="5" cols="100"></textarea>
            #{/crud.custom }
            #{crud.custom 'content'}
                #{editor id:"object_content", name:"object.content"  /}
            #{/crud.custom }
            #{crud.custom 'url'}
                <label for="object_url">文件</label>
                <input id="object_url" type = "file" name="file">
            #{/crud.custom }
            #{crud.custom 'status'}
                <label for="object_status">状态</label>
                <select name="object.status" id="object_status">
                %{
                    com.arj.ziguiw.common.Status.map.each {
                    }%
                    <option name="object.status" value="${it.key}">${it.value}</option>
                %{
                    }
                    }%
                </select>
            #{/crud.custom}
            #{crud.custom 'xxId'}
                <label id="object_xxId">学校</label>
                <select name="object.xxId" id="object_xxId" onchange="getClasses(this);">
                %{
                    List schools =  models.School.findAll();
                    schools.each {
                    }%
                    <option id="object_xxId" name="object.xxId" value="${it.xxId}">${it.name}</option>
                %{
                    }
                    }%
                </select>
            #{/crud.custom}

            #{crud.custom 'classId'}
                <label for="object_classId">班级</label>
                <select name="object.classId" id="object_classId">
                </select>
            #{/crud.custom}
        #{/crud.form}
        #{/if}
        #{else }
            #{crud.form fields:['title','url','cover','describe','xxId','classId']}
                #{crud.custom 'url'}
                    <label for="object_url"> 视频 </label>
                    <input type="file" name="file" id="object_url">
                #{/crud.custom}
                #{crud.custom 'cover'}
                    <label for="object_cover"> 视频封面图 </label>
                    <input type="file" name="cover" id="object_cover">
                #{/crud.custom}
                #{crud.custom 'describe'}
                    <label for="object_describe">描述</label>
                    <textarea id="object_describe" name="object.describe" rows="5" cols="100"></textarea>
                #{/crud.custom }
                #{crud.custom 'xxId'}
                    <label id="object_xxId">学校</label>
                    <select name="object.xxId" id="object_xxId" onchange="getClasses(this);">
                    %{
                        List schools =  models.School.findAll();
                        schools.each {
                        }%
                        <option id="object_xxId" name="object.xxId" value="${it.xxId}">${it.name}</option>
                    %{
                        }
                        }%
                    </select>
                #{/crud.custom}

                #{crud.custom 'classId'}
                    <label for="object_classId">班级</label>
                    <select name="object.classId" id="object_classId">
                    </select>
                #{/crud.custom}
            #{/crud.form}
        #{/else}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.displayName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.displayName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.displayName}" />
        </p>
            <input type="hidden" name="object.type" value="${Integer.valueOf(session.get("classAdminPhotoType"))}">
    #{/form}
    </div>

</div>