#{extends 'main.html'/}
#{set title:'学生评语--- 子贵网用户中心'/}
#{script 'My97DatePicker/WdatePicker.js'/}
<script type="text/javascript">
    $(function(){
        $("#QueryBtn").click(function(){
            var xsNode = $("#xsId");
            var xsId
            if(xsNode){
                xsId = $("#xsId").val();
            } else{
                xsId = $("#studentId").val();
            }
            if(xsId && xsId != null && xsId == '-1'){
                alert("必须选定一个孩子！");
                return false;
            }
            $.ajax({
                type:"GET",
                url:"/StudentComments/plist?startTime="+$("#startTime").val()+"&endTime="+$("#endTime").val()+"&isAjax=1"+"&xsId="+xsId,
                beforeSend : function(){
                    $("#listTable").html("<img src='/public/images/loading.gif'/>");
                },
                success : function(result){
                    $("#listTable").html(result);
                },
                error : function(){
                    alert("出错啦！");
                }
            });
            return false;
        }) ;

    });
</script>
<div class="right">
#{form action:@StudentComments.plist(),enctype :'multipart/form-data',method:'post',id:'studentCommentList'}
    <div class="bobti">
        学生评语
    </div>
        <div class="xunc_1 font-2">
            <div class="xunc_1-1">
                <table width="697" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>

                        <td width="60%">
                            日期：
                            <input type="text"   onclick="WdatePicker()" class="Wdate" style="float: none"
                                   id="startTime" name="startTime" value="${startTime ? new java.text.SimpleDateFormat("yyyy-MM-dd").format(new java.lang.Long(startTime)) : null }">
                            到
                            <input type="text" onclick="WdatePicker()" class="Wdate" style="float: none"
                                   id="endTime" name="endTime" value="${endTime ? new java.text.SimpleDateFormat("yyyy-MM-dd").format(new java.lang.Long(endTime)) : null }">
                        </td>
                    </tr>

                    <tr>

                        #{if studentList != null && studentList.size() > 1}
                            <td>
                                孩子：<select id="xsId" name="xsId">
                                <option value="-1">--请选择--</option>
                                #{list items:studentList,as:'student'}
                                    <option value="${student.xsId}">${student.xsXming}</option>
                                #{/list}
                            </select>
                            </td>
                        #{/if}
                        #{else }
                            <input type="hidden" id ="studentId" value="${student.xsId}">
                        #{/else}

                        <td width="40%"><input type="button" value="查  询" class="cx" id="QueryBtn"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="ly-tab font-2" id="listTable">
            <table cellspacing="0" cellpadding="0" border="0" class="sideright_tab1">
                <tbody>
                <tr bgcolor="#f2f4f6">
                    <td width="608" class="td_5">信息内容</td>
                </tr>
                    #{if stuCommentPage == null || stuCommentPage.data == null}
                    <tr>
                        </br>
                        <strong>没有找到相关信息！</strong>
                        </br>
                    </tr>
                    #{/if}
                    #{else }
                        #{list items:stuCommentPage.data,as:'data' }
                        <tr style="cursor:pointer" >
                            <td class="td_6">
                            ${data['MSM_CONTENT']}&nbsp;
                                <p>${data['DISPLAY_DATE']}&nbsp;</p>
                            </td>
                        </tr>
                        #{/list}
                    #{/else}
                </tbody>
            </table>
            <div class="pageNav">
                #{page page : stuCommentPage, url : "/StudentComments/plist", paramIds : "xsId startTime endTime", isAjax : "true"/}
            </div>
        </div>

    #{/form}
</div>