#{extends 'WapUCs/home.html'/}
<div class="bobti">
    学生评语<span style="color:#2d2d2d;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:12px;">（以下考勤信息仅供参考）</span>
</div>
<div class="xunc_1-1">
    <font color="red"><p> &nbsp;近一个月内的信息</p></font>
</div>


<div class="ly-tab font-2">
    <table cellspacing="0" cellpadding="0" border="0" class="sideright_tab1">
        <tbody>
        <tr bgcolor="#f2f4f6">
            <td width="100%" class="td_5">信息内容</td>
        </tr>

        #{if page.data == null || page.data.size() == 0}
            <tr style="cursor:pointer">

                <td class="td_6">
                    没有相关信息！
                </td>
            </tr>
        #{/if}
        #{else }
            #{list items:page.data, as:'data'}
            <tr style="cursor:pointer">

                <td class="td_6">
                ${data['MSM_CONTENT']}&nbsp;
                    <p>${data['DISPLAY_DATE']}&nbsp;</p>
                </td>

            </tr>
            #{/list}
        #{/else}




        </tbody>
    </table>
</div>

