#{extends 'main.html' /}
#{set title: schoolNew.title + "|" + school.name + " - 学校动态，公告"/}

<div class="middle center pt10">


    <div class="de_news_left">
        <div class="position">
            <p>您的位置：#{a @Schools.pshow().add("xxId",xxId)}学校主页#{/a}  &gt;
                #{if schoolNew.type == com.arj.ziguiw.common.SchoolNewsType.NEWS}
                #{a @SchoolNews.plist(com.arj.ziguiw.common.SchoolNewsType.NEWS).add("xxId", xxId)}新闻动态#{/a}  &gt; ${schoolNew.title}</p>
                #{/if}
                #{else }
                #{a @SchoolNews.plist(com.arj.ziguiw.common.SchoolNewsType.BULLETIN).add("xxId", xxId)}校园公告#{/a}  &gt; ${schoolNew.title}</p>
                #{/else}
        </div>

        <h1 class="fyahei">${schoolNew.title}</h1>
        <p class="news_tip fb"><span>时间：${schoolNew.createTime.format("yyyy-MM-dd")}</span>
            &nbsp;  <span>编辑： ${schoolNew.user?.nickName}</span>  &nbsp;  <span>浏览次数：${schoolNew.visitCount}</span></p>
        <div class="newscots">
           ${schoolNew.content.raw()}
        </div>
    </div>
    <div class="de_news_right">
    #{render 'schoolLeftClass.html', classes:classes/}
        <div class="study_recommend mt10">
            <div class="study_title">
                #{if schoolNew.type ==  com.arj.ziguiw.common.SchoolNewsType.NEWS}
                <div class="study_left">校园公告</div>
                <div class="dy_more">#{a @SchoolNews.plist(com.arj.ziguiw.common.SchoolNewsType.BULLETIN).add("xxId", xxId)}更多 &gt;&gt;#{/a}</div>
                #{/if}
                #{else }
                  <div class="study_left">新闻动态</div>
                  <div class="dy_more">#{a @SchoolNews.plist(com.arj.ziguiw.common.SchoolNewsType.NEWS).add("xxId", xxId)}更多 &gt;&gt;#{/a}</div>
                #{/else}
            </div>
            <div class="study_con">
                <ul>
                    #{list list,as:'list'}
                    <li>#{a @pshow(list.id).add("xxId",xxId)}${list.title}#{/a}</li>
                    #{/list}
                </ul>
            </div>
        </div>

    </div>

</div>