#{extends 'classmain.html' /}
#{set title: classViedo.title + "|" + school.name + " - " + schoolClass.name + "视频"/}

<div class="middle center pt10">
    <div class="happy_c_m">
        <div class="position">
            <p>您的位置：#{a @SchoolClazzs.pshow().add("xxId",xxId).add("classId",classId)}班级主页#{/a}  &gt; 视频</p>
        </div>
        <div class="news_tit">
            视频展示
        </div>
        <h1 class="fyahei">${classViedo.title}</h1>
            <div style="text-align: center">
            <script src="/public/flashplayer/flexpaper_flash.js"></script>
            <script src="/public/flashplayer/AC_RunActiveContent.js"></script>
            <script language="javascript">
                if (AC_FL_RunContent == 0) {
                    alert("This page requires AC_RunActiveContent.js.");
                } else {
                    AC_FL_RunContent(
                            'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0',
                            'width', '465',
                            'height', '295',
                            'src', '/public/flashplayer/jcplayer',
                            'quality', 'high',
                            'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
                            'align', 'middle',
                            'play', 'true',
                            'loop', 'true',
                            'scale', 'noScale',
                            'wmode', 'window',
                            'devicefont', 'false',
                            'id', 'jcplayer',
                            'bgcolor', '#ffffff',
                            'name', 'jcplayer',
                            'menu', 'true',
                            'allowFullScreen', 'true',
                            'allowScriptAccess','sameDomain',
                            'FlashVars','videoURL=${ctx}/${classViedo.url}&autoPlay=false&backgroundColor1=0x333333&backgroundColor2=0x222222',
                            'movie', '/public/flashplayer/jcplayer',
                            'salign','TL'
                    ); //end AC code
                }
                <!--Settable JCPlayer  params :startPhotoSource,videoURL,loop,autoPlay,scaleMode,volume,bufferTime,backgroundColor1,movieBackgroundColor,backgroundColor2,highlightColor,inkColor,playButton,timeBar,seekBar,volumeButton,fullScreenButton,skin,smoothing,autoHide,autoHideFullScreen,offsetY,offsetYFullScreen,margins,marginsFullScreen -->
            </script>
            <noscript>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="465" height="295" id="jcplayer" align="TL">
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="FlashVars" value="videoURL=${ctx}/${classVideo?.url}&autoPlay=true&backgroundColor1=0x333333&backgroundColor2=0x222222"/>
                    <param name="allowFullScreen" value="true" />
                    <param name="salign" value="TL" />
                    <param name="scale" value="noScale" />
                    <param name="movie" value="/public/flashplayer/jcplayer.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <embed src="/public/flashplayer/jcplayer.swf" FlashVars="videoURL=${ctx}/${classVideo?.url}&autoPlay=false&backgroundColor1=0x333333&backgroundColor2=0x222222" quality="high" bgcolor="#ffffff" width="465" height="295" name="jcplayer" align="middle" salign="TL" scale="noScale" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                </object>
            </noscript>
            </div>
            <div class="v_description">${classViedo.describe}</div>

        <div class="clear"></div>
        <div class="vedio_d_more mt10">
            <p>您可能还喜欢以下视频：</p>
            <ul>
            #{list classPhotos,as:'videos'}
                <li>
                    <div class="vedio_d_c"><img
                            src="${videos.cover ==null ? videos.cover : ctx + "/" + com.arj.ziguiw.common.ImageSize.getImage(videos.cover,com.arj.ziguiw.common.ImageSize.TC)}"
                            width="156" height="117" /></div>
                    <div class="vedio_d_play"><img src="../images/play.gif"/></div>
                    <div class="vedio_d_time">上传时间：${videos.createTime.format("yyyy-MM-dd")}</div>
                    <div class="vedio_d_n">${videos.title}</div>
                </li>
            #{/list}
            </ul>
        </div>
    </div>
</div>
