#{extends 'main.html'/}
#{set  title:'成长档案——子贵网用户中心'/}

<script type="text/javascript">
    $(function(){
        $("#queryButton").click(function(){
            var xsNode = $("#xsId");
            var xsId
            if(xsNode){
                xsId = $("#xsId").val();
            } else{
                xsId = $("#studentId").val();
            }
            if(xsId && xsId != null && xsId == '-1'){
                alert("必须选定一个孩子！");
                return false;
            }
            $.ajax({
                type:"GET",
                url:"/GrowArchives/plist?startTime="+"&isAjax=1"+"&xsId="+xsId,
                beforeSend : function(){
                    $("#listTable").html("<img src='/public/images/loading.gif'/>");
                },
                success : function(result){
                    $("#listTable").html(result);
                }
            });
            return false;
        }) ;

    });
</script>

<div class="right">
    <div class="bobti">成长档案</div>
    #{form action:@GrowArchives.plist(),enctype :'multipart/form-data',method:'post',id:'growArchiveForm'}
         #{if userBase.type == com.arj.ziguiw.common.UserBaseType.PARENT}
             <div class="xunc_1 font-2">
                    <div class="xunc_1-1">
                        <table width="697" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>

                                    <td>
                                        孩子：<select id="xsId" name="xsId">
                                                <option value="-1">--请选择--</option>
                                                #{list items:studentList,as:'student'}
                                                    <option value="${student.xsId}">${student.xsXming}</option>
                                                #{/list}
                                             </select>
                                    </td>
                                    <td>
                                        <input type="button" value="查询" class="cx" id="queryButton" name="queryButton">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
         </div>
         #{/if}
         <div class="zzll" id="listTable">
              <table width="729" cellspacing="0" cellpadding="0" border="0" class="tab-xx-4 font-2">
                    #{if page.data == null || page.data.size() == 0 }
                        <tbody>

                                <tr>
                                    <td width="114" class="bod"><strong>暂无信息！</strong></td>
                                    <td width="615" align="right" class="bod">&nbsp;</td>
                                </tr>
                                *{<tr>}*
                                    *{<td width="114" class="xgr">}*
                                        *{<input type="button" id="create" value="创建成长档案">}*
                                    *{</td>}*
                                    *{<td width="615" class="xgr">&nbsp;</td>}*
                                *{</tr>}*
                        </tbody>
                    #{/if}
                    #{else }
                        #{list items:page.data , as:'data'}
                            <tbody>

                            <tr>
                                <td width="114" class="bod"><strong>基本信息</strong></td>
                                <td width="615" align="right" class="bod">&nbsp;</td>
                            </tr>


                            <tr>
                                <td width="114" class="xgr">学生姓名：</td>
                                <td width="615" class="xgr">${student.xsXming}</td>
                            </tr>
                            <tr>
                                <td class="xgr">血型：</td>
                                <td class="xgr">${data.bloodType}</td>
                            </tr>
                            <tr>
                                <td class="xgr">爱好：</td>
                                <td class="xgr">${data.hobby}</td>
                            </tr>
                            <tr>
                                <td class="xgr">健康状态：</td>
                                <td class="xgr">${student.healthState}</td>
                            </tr>
                            <tr>
                                <td class="xgr">医保卡号：</td>
                                <td class="xgr">${student.ybHao}</td>
                            </tr>
                            <tr>
                                <td class="xgr">既往史：</td>
                                <td class="xgr">${data.pastMedicalHistory}</td>
                            </tr>
                            <tr>
                                <td class="xgr">过敏史：</td>
                                <td class="xgr">${data.allergicHistory}</td>
                            </tr>
                            <tr>
                                <td class="xgr">创建时间：</td>
                                <td class="xgr">${data.createTime}</td>
                            </tr>
                            </tbody>
                        #{/list}
                    #{/else}
              </table>

             <div class="pageNav">
                 #{page page : page, url : "/GrowArchives/plist", paramIds : "xsId", isAjax : "true"/}
             </div>
         </div>
         <div class="clear"></div>

    #{/form}
</div>

