#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.displayName}</h2>

    <div id="crudListSearch">
    #{crud.search /}
    </div>

    <div id="crudListTable">
    #{crud.table fields:['id', 'nickName', 'email', 'displayName', 'photo'], displayNames:['ID']}
        #{crud.custom 'photo'}
            <img src="/${object.photo}"/>
        #{/crud.custom}
    #{/crud.table}
    </div>

    <div id="crudListPagination">
    #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.displayName}</a>
    </p>

</div>
