@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	}
body {
	font-size:12px;
    background: url("/public/images/body.jpg") repeat-x scroll 0 0 #F9F9F9;
	}
a {
	color:#757575;
	text-decoration:none;	
	outline:none;
	}
a:hover {
	text-decoration:underline;
	}
ul {
	list-style:none;	
	}
.clear {
	clear:both;
	}
.toolbar {
    background: url("/public/images/repeat_x_01.png") repeat-x scroll 0 0 transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    position: relative;
    width: 988px;
}
.toolbar .tit {
    float: left;
    padding-left: 15px;
}
.toolbar .subNav {
    float: right;
    padding-right: 15px;
}
.toolbar .subNav A {
    color: #666666;
    margin-left: 25px;
}

.uc_header {
	width:990px;
	background:#fff;
	margin:0 auto;
	height:75px;
	}
.uc_logo {
	float:left;
	}
.uc_search {
	float:right;
	margin-right:5px;
	margin-top:15px;
	width:260px;
	}
.uc_s_bg {
	background:url(/public/images/uc_s_bg.gif) no-repeat;
	width:195px;
	height:32px;
	border:0 none;
	padding:0 5px;
	font-size:14px;
	line-height:32px;
	float:left;
	}
.uc_s_btn {
	background:#fa6f00;
	width:45px;
	height:32px;
	line-height:34px;
	border:0 none;
	color:#fff;
	outline:none;
	cursor:pointer;
	float:left;
	margin-bottom:5px;
	}
.uc_keywords span {
	margin:0 0 0 10px;
	}
.uc_p {
	margin:0 auto;
	width:990px;
	border-top:4px solid #fa6f00;
	background:#fff;
	overflow:hidden;
	padding-bottom:5px;
	}
.uc_p_left {
	border:2px solid #f9f9f9;
	width:175px;
	height:200px;
	margin-top:5px;	
	margin-left:7px;
	float:left;
	}
.uc_photo {
	margin:12px;
	}
.modi {
	padding-left:60px;
	}
.uc_p_right {
	background:url(/public/images/p_bg.gif) repeat-x;
	margin-left:12px;
	margin-top:6px;		
	float:left;
	width:780px;
	height:200px;
	border:1px solid #f9f9f9;	
	}
.uc_p_inf {
	padding:25px 0 0 45px;
	float:left;
	}
.in_btn {
	background:url(/public/images/in_btn.gif) no-repeat;
	width:65px;
	height:23px;
	border:none;
	color:#fff;
	}
.n_str {
	font-size:14px;
	font-weight:bold;
	width:80px;
	height:22px;
	}
.n_con {
	font-size:14px;
	}
.uc_mon {
	float:left;
	background:url(/public/images/mon_line.gif) no-repeat;
	height:200px;
	width:300px;
	margin-top:10px;
	}
.uc_mon p {
	margin:50px 0 0 90px;
	font-size:18px;
	font-weight:bold;
	}
.mon_btn {
	margin-left:130px;
	}
.uc_nav {
	background:url(/public/images/uc_nav_bg.gif) repeat-x;
	height:40px;
	width:990px;
	margin:0 auto;
	position:relative;
	}
.retu {
	position:absolute;
	top:15px;
	right:10px;
	}
.retu a {
	color:#fff;
	}
.uc_nav ul {
	outline:none;
	list-style:none;
	}
.uc_nav ul li {
	float:left;
	color:#fff;
	font-size:14px;
	background:url(/public/images/uc_nav_li.gif) no-repeat;
	background-position:right;
	}
.uc_nav ul li a {
	color:#fff;
	height:40px;
	line-height:40px;
	padding:0 10px;
	}
.uc_nav_h {
	background:url(/public/images/uc_nav_h.gif) no-repeat;
	width:8px;
	height:40px;
	float:left;
	}
.uc_nav_f {
	background:url(/public/images/uc_nav_f.gif) no-repeat;
	width:8px;
	height:40px;
	float:right;
	}	
/*middle --B*/
.uc_midd {
	width:980px;
	margin:0 auto;
	background:#fff;
	overflow:auto;
	padding:5px;
	}
.uc_l {
	width:200px;
	float:left;
	}
.num_f_title {
	color:#cc0000;
	font-size:18px;
	border-bottom:4px solid #fa6f00;
	padding:15px 0 5px 15px;
	}
.uc_num_f {
	margin-bottom:5px;
	border:1px #d4d4d4 solid;
	background:#f8f8f8;		
	}
.uc_num_f ul li {
	background:#f8f8f8;
	height:35px;
	line-height:35px;
	padding:0 0 0 20px;
	list-style:none;
	border-bottom: 1px solid #d4d4d4;
	}
.uc_num_f ul li a {
	width:200px;
	height:35px;
	color:#434343;
	font-weight:bold;
	}	
.uc_num_f ul li a:hover {
	color:#fff;
	color:#ae0104;
	width:200px;
	height:35px;
	}
.note {
	padding:9px 5px 0 0;
	width:25px;
	float:left;
	}
.uc_que {
	width:200px;
	overflow:auto;
	
	}
.lit_bg {
	background:url(/public/images/lit_bg.gif) repeat-x;
	height:31px;
	line-height:31px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding-left:18px;
	}
.uc_que ul {
	 border: 1px solid #D4D4D4;	 
	 padding-bottom:2px;
	}
.uc_que ul li {
	 border-bottom:1px dashed #a0a0a0;
	 width:190px;
	 padding-left:5px;
	 height:28px;
	 line-height:28px;
	 }
.uc_que ul li a {
	padding-left:8px;
	color:#434343;
	}
.uc_right {
	float:left;
	width:780px;
	}
.uc_m {
	width:560px;
	overflow:auto;
	background:#fdfdfd;
	border:1px solid #f3f3f3;
	float:left;
	margin:0 5px;
	}
.uc_m_con {
	margin:20px 0 30px 20px;
	}
.uc_m_con ul {
	list-style:none;
	font-size:14px;
	}
.uc_m_con ul li {
	height:20px;
	}
.m_con_t {
	font-weight:bold;
	font-size:14px;
	color:#000;
	margin-bottom:5px;
	}
.m_inf {
	margin-bottom:20px;
	}
.m_red {
	color:#ae0104;
	font-weight:bold;
	}
.m_kaoq {
	height:20px;
	font-size:14px;
	}
.m_sug {
	padding:10px 0 20px 20px;
	height:280px;
	font-size:14px;
	overflow:auto;
	}
.uc_r {
	width:200px;
	float:left;
	}
.uc_tipp {
	width:200px;
	overflow:auto;
	margin-bottom:5px;
	}
.uc_tip {
	padding:12px;
	text-indent:20px;
	font-size:14px;
	text-align:justify;
	line-height:20px;
	}
.uc_tipp ul {
	 border: 1px solid #D4D4D4;	 
	}
.uc_tipp ul li {
	 border-bottom:1px dashed #a0a0a0;
	 width:190px;
	 padding-left:5px;
	 height:28px;
	 line-height:28px;
	 }
.uc_tipp ul li a {
	padding-left:8px;
	}
.uc_note {
	margin:0 0 5px 0;
	}
.uc_sn {
	float:left;
	width:130px;
	height:25px;
	}
.uc_more a{
	line-height:32px;
	height:32px;
	font-size:12px;
	color:#fff;
	}
.uc_note ul {
	list-style:none;
	 border: 1px solid #D4D4D4;	
	 padding-bottom:2px;
	}
.uc_note ul li {
	border-bottom:1px dashed #a0a0a0;
	}
.uc_note ul li a {
	padding-left:5px;
	line-height:30px;
	height:30px;
	color:#434343;	
	}	
.uc_letter {
	width:200px;
	overflow:auto;
	margin-bottom:5px;
	}
.uc_letter ul {
	 border: 1px solid #D4D4D4;	 
	}
.uc_letter ul li {
	 border-bottom:1px dashed #a0a0a0;
	 width:190px;
	 padding-left:5px;
	 height:28px;
	 line-height:28px;
	 }
.uc_letter ul li a {
	padding-left:8px;
	}
.uc_noti {
	width:980px;
	margin:10px auto;
	}
.uc_noti p {
	text-align:center;
	color:#757575;
	}
/*middle --E*/

/*innerletter --B*/
.letter_right {
	float:left;
	width:780px;
	}
.my_lett {
	border:1px solid #ededed;
	margin:0 5px;
	overflow:auto;
	padding-bottom:20px;
	margin-bottom:5px;
	}
.my_lett p{
	line-height:180%;
	}
.lett_title {
	height:36px;
	line-height:36px;
	padding-left:20px;
	font-weight:bold;
	color:#434343;
	border-bottom:1px solid #fa6f00;
	margin-bottom:10px;
	}
.lett_bl {
	background:#f3fcff;
	width:680px;
	margin:0 auto;
	padding:10px 20px;
	}
.lett_pa {
	font-weight:bold;
	}
.lett_m {
	margin-right:15px;
	}
.lett_gray {
	background:#f8f8f8;
	width:640px;
	margin:0 auto;
	padding:10px 40px;
	}
.lett_ans {
	background:#9d9d9d;
	color:#fff;
	width:45px;
	height:22px;
	line-height:22px;
	padding:5px 2px 2px 6px;
	margin-right:10px;
	}
.sent_lett {
	border:1px solid #ededed;
	margin:0 5px;
	overflow:auto;
	padding-bottom:20px;
	}
.sent_lett p{
	line-height:180%;
	}
.sent_title {
	height:36px;
	line-height:36px;
	padding-left:20px;
	font-weight:bold;
	color:#434343;
	border-bottom:1px solid #fa6f00;
	margin-bottom:10px;
	}
.sent_p {
	padding:10px 25px;
	}
.sent_p table td {
	height:32px;
	}
.per_inp {
	backgroun:#fff;
	width:600px;
	height:25px;
	line-height:25px;
	}
.art_inp {
	backgroun:#fff;
	width:600px;
	height:25px;	
	line-height:25px;
	}
.con_inp {
	width:600px;	
	}
.sent_inp {
	background:#fa6f00;
	border:none;
	color:#fff;
	width:55px;
	height:26px;
	cursor:pointer;
	outline:none;
	}
/*innerletter --E*/
/*resource --B*/
.res_tit {
	background:#f3f3f3;
	margin:5px auto;
	height:37px;
	line-height:37px;
	padding-left:30px;
	font-weight:bold;
	font-size:14px;
	color:#474646;
	}
.res_en {
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	}
.res_con {
	border:1px solid #d1d1d1;
	background:#f8f8f8;
	overflow:auto;
	}
.upload_t {
	padding-left:20px;
	color:#0080bd;
	font-size:14px;
	font-weight:bold;
	height:42px;
	line-height:42px;
	border-bottom:1px solid #909090;
	}
.res_tb {
	padding:10px 8px 10px 30px;
	}	
.res_tb table th{
	color:#0080bd;
	height:32px;
	}
.res_tb table td{
	text-align:center;
	padding:5px 10px;
	border-bottom:1px dashed #d1d1d1;	
	height:30px;
	}
.res_si {
	width:140px;
	}
.download_t {
	padding-left:20px;
	color:#fa6f00;
	font-size:14px;
	font-weight:bold;
	height:42px;
	line-height:42px;
	border-bottom:1px solid #909090;
	}
.res_do {
	padding:10px 8px 10px 30px;
	}	
.res_do table th{
	color:#fa6f00;
	height:32px;
	}
.res_do table td{
	text-align:center;
	padding:5px 10px;
	border-bottom:1px dashed #d1d1d1;	
	height:30px;
	}
.res_d {
	width:180px;
	}	
/*resource --E*/
 /*我的问答开始*/
 .que_con {
	 border:1px solid #dbdada;
	 overflow:auto;
	 }
.que_t {
	padding:10px 0 5px 8px;
	background:#f3f1f2;
	font-weight:bold;
	}
.que_qu {
	height:40px;
	line-height:40px;
	font-weight:bold;
	padding-left:20px;
	background:url(/public/images/que_line.gif) no-repeat;
	background-position:bottom;
	}
.que_my_title {
	color:#de0f15;
	}
.my_title {
	margin-right:10px;
	}
.que_my_ab {
	color:#aba8a8;
	}
.que_all ul li{
	border-bottom:1px dashed #d9d8d8;
	margin:2px 10px;
	padding-bottom:8px;
	}
.que_left {
	float:left;
	padding:10px 80px 10px 50px;
	}
.que_right {
	padding:5px;
	}
.que_special {
	font-weight:bold;
	}
.que_time {
	padding-left:30px;
	color:#807e7f;
	}
.que_deal {
	color:#66cc33;
	}
.que_p {
	margin:20px 80px 20px 630px;
	}
.que_p a {
	padding:0 5px;
	}
/* 我的问答结束*/
/*我的积分开始*/
.points_t {
	color: #474646;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 30px;
	background:url(/public/images/point_line.gif) no-repeat;
	background-position:bottom;
	margin-bottom:8px;	
	}
.points_spe {
	background:#f8f8f8;
	border:1px solid #d3d3d3;
	overflow:auto;
	}
.spe_tip {
	color:#ae0104;
	padding:20px 0 8px 40px;
	border-bottom:1px solid #909090;
	}
.spe_con table {
	margin:8px 0 8px 15px;
	}
.spe_con table td{
	text-align:center;
	width:200px;
	height:30px;
	border-bottom:1px dashed #909090;
	}

/*我的积分结束*/

/*学籍档案管理开始*/
.dangan_btn {
	margin:20px 0 15px 20px;
	}
.dangan_add {
	width:72px;
	height:25px;
	outline:none;
	cursor:pointer;
	margin:0 12px 0 2px;
	}
.dangan_class {
	margin:0px 0px 10px 20px;
	}
.dangan_tab {
	margin:0 0 15px 20px;
	}
.dangan_tab table th {
	background:#d9d9d9;
	padding:5px 31px;
	border-top:1px solid #676666;
	border-bottom:1px solid #676666;
	}
.dangan_tab table td {
	padding:10px 0;
	}
.dangan_all {
	border-bottom:1px solid #676666;
	height:18px;
	line-height:18px;
	vertical-align:middle;
	}
.da_b {
	vertical-align:middle;
	display:inline-block;
	}
.dangan_single {
	background:#f5f3f3;
	text-align:center;
	border-bottom:1px dashed #a7a7a7;
	}
.dangan_double {
	text-align:center;
	border-bottom:1px dashed #a7a7a7;
	}
.da_img {
	border:1px solid #c8c7c7;
	padding:1px;
	}
/*学籍档案管理结束*/

/*我的积分开始*/
.points_t {
    color: #474646;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 30px;
    background:url(/public/images/point_line.gif) no-repeat;
    background-position:bottom;
    margin-bottom:8px;
}
.points_spe {
    background:#f8f8f8;
    border:1px solid #d3d3d3;
    overflow:auto;
    margin-bottom:5px;
}
.spe_tip {
    color:#ae0104;
    padding:20px 0 8px 40px;
    border-bottom:1px solid #909090;
}
.spe_con table {
    margin:8px 0 8px 25px;
}
.spe_con table td{
    text-align:center;
    width:220px;
    height:30px;
    border-bottom:1px dashed #a3a1a1;
}
.spe_con table th{
    height:32px;
}
.points_p {
    margin:20px 80px 20px 0px;
    text-align:center;
}
.points_p a {
    padding:0 5px;
}
.spe_how table {
    margin:8px 0 8px 25px;
}
.spe_how table th {
    height:32px;
}
.spe_how table td{
    padding:0 42px;
    height:30px;
    border-bottom:1px dashed #a3a1a1;
}
.mess {
    color:#fa6f00;
    margin:10px 0;
}
.points_note {
    color:#434343;
    font-weight:bold;
    border:none;
    text-indent:30px;
    padding:5px 10px 20px 10px;
    line-height:150%;
}
.points_rule {
    color:#fa6f00;
    padding:8px 40px;
    line-height:200%;
    border-bottom:1px solid #474747;
}
.points_use {
    color:#fa6f00;
    padding:8px 40px;
    line-height:200%;
}
/*我的积分结束*/
/*网站公告开始*/
.not_con {
    border:1px solid #dbdada;
    overflow:auto;
}
.not_t {
    height:50px;
    line-height:50px;
    padding-left:20px;
    background:url(/public/images/que_line.gif) no-repeat;
    background-position:bottom;
    font-weight:bold;
    font-size:14px;
}
.not_spe {
    font-size:14px;
    margin:0 0 5px 0;
}
.not_spe ul li {
    border-bottom: 1px dashed #DBDADA;
    line-height: 120%;
    margin: 0 10px;
    overflow: hidden;
    padding: 12px 12px 12px 30px;
    width: 720px;
}
.noti_content {
    width:680px;
    float:left;
}
.noti_time {
    float:left;
}
.noti_p {
    margin:20px 80px 20px 630px;
}
.noti_p a {
    padding:0 5px;
}
/*网站公告结束*/

/*用户中心：孩子选择框（有多个孩子的家长）*/
.font-3 {
    font-size: 12px;
}
.jz-i-8 {
    border: 1px solid #E0E0E0;
    height: auto;
    margin-bottom: 15px;
    padding: 5px 8px;
    width: 528px;
}