#{script src:'showHistory.js'/}
<table>
<thead>
<tr>
    <th>
        <a class="" href="/annualfees/list?order=ASC&amp;orderBy=id">
            id
        </a>
    </th>
    <th>
        <a class="crudSortedDesc" href="/annualfees/list?order=ASC&amp;orderBy=orderNo">
            订单号
        </a>
    </th>
    <th>
        <a class="" href="/annualfees/list?order=ASC&amp;orderBy=payMethod">
            支付方式
        </a>
    </th>
    <th>
        <a class="" href="/annualfees/list?order=ASC&amp;orderBy=price">
            金额
        </a>
    </th>
    <th>
        <a class="" href="/annualfees/list?order=ASC&amp;orderBy=student">
            受益学生
        </a>
    </th>
    <th>
        <a class="" href="/annualfees/list?order=ASC&amp;orderBy=payDate">
            支付时间
        </a>
    </th>
</tr>
</thead>

<tbody>
#{if annualFeeList != null && annualFeeList.size() != 0}
     #{list items:annualFeeList,as:'annualFee'}
        <tr class="odd">
         <td>
             <a href="/annualfees/show?id=${annualFee.id}">${annualFee.id}</a>
         </td>
         <td>
             <a href="/annualfees/show?id=${annualFee.id}">${annualFee.orderNo}</a>
         </td>
         <td>
            ${com.arj.ziguiw.common.PayMethod.map.get(annualFee.payMethod)}
         </td>
         <td>
            ${annualFee.price}
         </td>
         <td>
            <a href="javascript:void(0);" onclick="showHistory(${annualFee.student.xsId})"></a>
         ${annualFee.student}
         </td>
         <td>
             ${annualFee.payDate}
         </td>
     </tr>
     #{/list}
#{/if}
#{else }
    没有相关记录！
#{/else}
</tbody>
</table>

