
<div class="p_all">
    <div class="p_flink">
        <p>
            <a href="${play.configuration['portal.domain']}/HelpCenters/aboutus" target="_blank">关于我们</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/contract" target="_blank">服务协议</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/service" target="_blank">客服中心</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/feedback" target="_blank">意见反馈</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/recruit" target="_blank">网站招聘</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/map" target="_blank">网站地图</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/contact" target="_blank">联系我们</a>|
            <a href="http://dsis.ziguiw.com/topic/cloud/index.jsp" target="_blank">数字校园云服务展会专题</a>|
            <a href="http://dsis.ziguiw.com/topic/cloud/footmark_two.jsp" target="_blank">轨迹查询</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/copyright" target="_blank">版权所有</a>|
            <a href="${play.configuration['portal.domain']}/HelpCenters/helpcenter" target="_blank">帮助中心</a>
        </p>
    </div>

    <div class="p_logo">
        <p>
            Copyright ©2012 <a href="http://www.ziguiw.com">ziguiw.com</a> All Rights Reserved <a href="http://www.miibeian.gov.cn/">湘ICP备09002922号-3</a>
        </p>
        <p>
            经营许可证编号：湘 B2-20120065 ©　客服邮箱：<a href="mailto:kf@ziguiw.com">kf@ziguiw.com</a>
            <!-- WPA Button Begin -->
            <script src="http://static.b.qq.com/account/bizqq/js/wpa.js?wty=1&amp;type=2&amp;kfuin=4009952116&amp;ws=www.ziguiw.com&amp;btn1=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8DQQ&amp;aty=0&amp;a=&amp;key=Z3%076%036Rn%00%3DS0%013Q9U4Sa%0F6Q%3FTg%02lR4%06a%0Fc%044VjQb" type="text/javascript"></script><iframe width="102" scrolling="no" height="24" frameborder="0" src="about:blank" allowtransparency="true" id="iframediv1359702766609"></iframe>
        <!-- WPA Button END -->
        </p>
        <img src="@{'public/images/p_logo.gif'}">
    </div>
</div>
<span style="display:none">
<script src="http://s84.cnzz.com/stat.php?id=4634857&amp;web_id=4634857&amp;show=pic" language="JavaScript"></script><script src="http://c.cnzz.com/cnzz_core.php?web_id=4634857&amp;show=pic&amp;l=none" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=4634857" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/pic.gif"></a>
</span>