<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <title>#{get 'title' /}</title>
    #{stylesheet src:"sch_site1.css" /}
    #{get 'moreStyles' /}
    #{script src:"focus.js" /}
    #{script src:"jquery-1.7.2.js" /}
    #{get 'moreScripts' /}
</head>
<body class="sc_body1">

#{render 'toolbar.html', schoolExt:schoolExt ,ctx:ctx , school:school , schoolClass:schoolClass/}

<div class="clear"></div>
<div class="banner center">
    <div class="midd_line"></div>
    <div class="midd_banner">
        #{if schoolExt?.banner == null}
          <img height="266" width="970" src="@{'public/images/sch_banner.gif'}" />
        #{/if}
        #{else}
           <img height="266" width="970" src="${ctx}/${schoolExt?.banner}" />
        #{/else}
    </div>
    <div class="clear"></div>

    <div class="sch_menu">
        <ul>
            <li>#{a @Schools.pshow().add("xxId",xxId)}主页#{/a}</li>
            <li class="sch_li_bg">#{a @SchoolNews.plist(com.arj.ziguiw.common.SchoolNewsType.NEWS).add("xxId",xxId)}新闻动态#{/a}</li>
            <li class="sch_li_bg">#{a @Schools.pdesc().add("xxId",xxId)}学校简介#{/a}</li>
            <li class="sch_li_bg">#{a @SchoolPhotos.index().add("xxId",xxId)}快乐校园#{/a}</li>
            <li class="sch_li_bg">#{a @SchoolXxyds.plist().add("xxId",xxId)}学习园地#{/a}</li>
            <li class="sch_li_bg">#{a @SchoolClazzs.plist().add("xxId",xxId)}班级天地#{/a}</li>
            <li class="sch_li_bg">#{a @Schools.pcontact().add("xxId",xxId)}联系方式#{/a}</li>
            #{if schoolAdmin != null && schoolAdmin.school.id == school.id && schoolAdmin.classId == null }
                <li>
                    #{a @Schools.admin()}管理中心#{/a}
                </li>
            #{/if}
        </ul>
    </div>
</div>
<div class="clear"></div>


#{doLayout /}


<div class="clear"></div>

<!--尾部开始-->
<div class="footer center pt10">
    <div class="p_all">
        <div class="p_flink">
            <p>
                <a href="${play.configuration['portal.domain']}/HelpCenters/aboutus" target="_blank">关于我们</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/contract" target="_blank">服务协议</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/service" target="_blank">客服中心</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/feedback" target="_blank">意见反馈</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/recruit" target="_blank">网站招聘</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/map" target="_blank">网站地图</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/contact" target="_blank">联系我们</a>|
                <a href="http://dsis.ziguiw.com/topic/cloud/index.jsp" target="_blank">数字校园云服务展会专题</a>|
                <a href="http://dsis.ziguiw.com/topic/cloud/footmark_two.jsp" target="_blank">轨迹查询</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/copyright" target="_blank">版权所有</a>|
                <a href="${play.configuration['portal.domain']}/HelpCenters/helpcenter" target="_blank">帮助中心</a>
            </p>
        </div>

        <div class="p_logo">
            <p>
                Copyright  ?  2012 <a href="http://www.ziguiw.com" target="_blank">ziguiw.com</a> All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备09002922号-3</a>
            </p>
            <p>
                经营许可证编号：湘 B2-20120065 客服邮箱：<a href="mailto:kf@ziguiw.com" target="_blank">kf@ziguiw.com</a>
                <!-- WPA Button Begin -->
                <script src="http://static.b.qq.com/account/bizqq/js/wpa.js?wty=1&amp;type=2&amp;kfuin=4009952116&amp;ws=www.ziguiw.com&amp;btn1=%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8DQQ&amp;aty=0&amp;a=&amp;key=Z3%076%036Rn%00%3DS0%013Q9U4Sa%0F6Q%3FTg%02lR4%06a%0Fc%044VjQb" type="text/javascript"></script><iframe width="102" scrolling="no" height="24" frameborder="0" src="about:blank" allowtransparency="true" id="iframediv1359702766609"></iframe>
            <!-- WPA Button END -->
            </p>
            <img src="@{'public/images/p_logo.gif'}">
        </div>
    </div>
</div>
</body>

</html>