#{extends 'homemain.html'/}
#{set 'title'}
我的空间-我的应用
#{/set}

    <!--main_right B-->
    <div class="sp_main_right">
        <div class="bobti">
            <div class="diary_tit">应用中心</div>
        </div>
        <div class="application">
            <ul>
                <li>
                    <p><a href=""><img src="@{'public/images/AlexaInstaller.jpg'}" /></a></p>
                    <p><a href="">AlexaInstaller.rar</a></p>
                </li>
                <li>
                    <p><a href=""><img src="@{'public/images/xiuxiu.jpg'}" /></a></p>
                    <p><a href="">XiuXiu_380_Setup.rar</a></p>
                </li>
                <li>
                    <p><a href=""><img src="@{'public/images/videoconverter.jpg'}" /></a></p>
                    <p><a href="">videoconverter_install_chs.rar</a></p>
                </li>
            </ul>

            <div class="clear"></div>

        </div>

    </div>
    <!--main_right E-->
