<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>父亲节专题</title>
    <link href="@{'public/stylesheets/css.css'}" type="text/css" rel="stylesheet" />
    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.Sonline.js'}" type="text/javascript" charset="${_response_encoding}"></script>
</head>

<body>
<div class="top">
    <div class="zigui_logo"><a href="http://www.ziguiw.com"><img src="@{'public/images/zigui_logo.gif'}"/></a></div>
</div>
<div class="top_1">
    <div class="bt"><p>五月的阳光，犹如母亲温柔；六月的烈日，却是父亲严厉。同样是爱，却爱得色彩斑斓。母爱如水、父爱如山！</p>
        <p>父亲是一只船，载着我们的期待和梦幻；父亲是一棵树，为我们遮挡风雪和严寒；父亲是一盏灯，给我们光明和温暖；鬓角的白发，额头的皱纹，大山般的父亲，留给我们的不应该只是背影……</p>
        <p><font color="c11919">所有曾经or此刻被爸爸呵护的大孩子、小孩子们，全都参与到传递父爱的活动中来吧！
            让我们记住：<strong>六月的第三个星期日</strong>，真正属于父亲们的节日——父亲节。</font></p>
    </div>
</div>
<div class="nr0">
    <div class="dh">
        <div class="dh1"><a href="/FatherActivitys/index" target="_blank">活动首页</a></div>
        <div class="dh2"><a href="/FatherActivitys/list" target="_blank">作品投票</a></div>
    </div>
    <div class="nr1"></div>
</div>
<div class="nr">
    <div class="bt2"></div>
    <div class="nr2">
        <div class="wz"><strong>系列一：父亲画像/影像征集</strong><span class="fa_btn"><a href="/FatherActivitys/add"><img src="@{'public/images/an_16.png'}" width="87" height="30" /></a></span></div>
        <div class="wz1"><strong>活动说明</strong>：孩子们可以以父亲的背影，父亲的微笑，父亲的容貌，父亲和我等为主题，用手中的画笔或相机把你心中的父亲形象展现出来，与大家分享。（请保留父亲画像原稿，获奖者需凭画像原稿领取奖品）
            <br /><strong>活动参与时间</strong>：
            <br />作品上传时间：2013年6月14日——2013年6月29日
            <br />投票时间：2013年6月14日——2013年6月29日</div>
    </div>
    <div class="nr2">
        <div class="wz"><strong>系列二：爸爸，我想对您说</strong><span class="fa_btn"><a href="/FatherMessages/add"><img src="@{'public/images/an1_20.png'}" width="85" height="31" /></a></span></div>
        <div class="wz1"><strong>活动说明</strong>：生活中，你是否积攒了太多想对父亲说的话，譬如对父亲的感激、歉意、与父亲相处的点滴等你想表达的情感，都可以在父亲节这一天大声说出来！编辑你想对父亲说的话发送给我们，我们将以短信的方式在父亲节当天为你传递。 <br />
            <strong>活动参与时间</strong>：
            <br />短信收集时间：2013年6月14日——2013年6月15日
            <br />信息发送时间：2013年6月16日</div>
    </div>
    <div class="nr2">
        <div class="wz"><strong>系列三：聆听父亲心声</strong></div>
        <div class="wz1"><strong>活动说明</strong>：父亲们在收获惊喜与感动的同时，一定也有想要对孩子说的话，那么父亲们可以通过短信进项直接回复，参与到我们的活动中来。在我们的活动主页，会将父亲的回应及时滚动播出。关注 father.ziguiw.com 让我们用心聆听父亲的心声。<br />
            <strong>活动参与时间</strong>：
            <br />短信征集及发布时间：2013年6月16日
            <div class="nr3">注：活动获奖信息公布时间：2013年6月30日</div>
        </div>
    </div>
    <div class="nr">
        <div class="bt3"></div>
        <div class="cyfs"><img src="@{'public/images/nr2_21.png'}" width="990" height="278" border="0" usemap="#Map" />
            <map name="Map" id="Map">
                <area shape="rect" coords="866,16,961,50" href="${play.configuration['cas.loginUrl']}" />
            </map>
        </div>
        <div class="cyfs2"></div>
    </div>
    <div class="nr">
        <div class="bt4"></div>
        <div class="hdjp"></div>
    </div>
</div>
<div class="yl">
    <p>
        <a href="/HelpCenters/aboutus" target="_blank" class="hei">关于我们</a>|
        <a href="/HelpCenters/contract" target="_blank">服务协议</a>|
        <a href="/HelpCenters/service" target="_blank">客服中心</a>|
        <a href="/HelpCenters/feedback" target="_blank">意见反馈</a>|
        <a href="/HelpCenters/recruit" target="_blank">网站招聘</a>|
        <a href="/HelpCenters/map" target="_blank">网站地图</a>|
        <a href="/HelpCenters/contact" target="_blank">联系我们</a>|
        <a href="http://dsis.ziguiw.com/topic/cloud/index.jsp" target="_blank">数字校园云服务展会专题</a>|
        <a href="http://dsis.ziguiw.com/topic/cloud/footmark_two.jsp" target="_blank">轨迹查询</a>|
        <a href="/HelpCenters/copyright" target="_blank">版权所有</a>|
        <a href="/HelpCenters/helpcenter" target="_blank">帮助中心</a>
    </p>
</div>

<script type="text/javascript">
    $(function(){
        $("body").Sonline({
            Position:"right",//left或right
            Top:250,//顶部距离，默认400px
            Effect:true, //滚动或者固定两种方式，布尔值：true或false
            DefaultsOpen:true, //默认展开：true,默认收缩：false
            Qqlist:"4009952116| " //多个QQ用','隔开，QQ和客服名用'|'隔开

        });
    })
</script>
</body>
</html>
