<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>父亲节活动微信页</title>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/wx.css'}">
</head>

<body>
<div class="wx">
    <div class="wx_logo"><img src="@{'public/images/logo_03.png'}" /></div>
    <div class="wx_kk">
        <div class="wx_bt">活动一：父亲画像/影像征集</div>
        <div class="wx_nr">微信用户：${fatherActivity.userName}<br />

            信息提交成功,感谢您的参与!<br />

            作品编号:${fatherActivity.id + 1000}。参与投票，获赠父亲
            节精美礼品。<br />

            作品审核通过，即可通过
            <span class="zi_h">http://father.ziguiw.com</span> 对外展示，赶紧为
            你喜欢的作品投上宝贵的一票吧！ </div>
    </div>
    <div class="wx_bz">亲,记得多陪陪爸爸,父亲节(6月16日）刚好
        是星期天,不如推掉朋友、女友/男友的聚会、
        约会,回家陪爸爸喝喝茶聊聊天吧！</div>
</div>
</body>
</html>

