#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.displayName) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.displayName}</h2>

    <div id="crudListSearch">
    #{crud.search /}
    </div>

    <div id="crudListTable">
    #{crud.table fields:[ 'id','mobile','content']}
        #{crud.custom 'content'}
            <a href="@{show(object.id)}">
            ${object.content?.length() > 20 ? object?.content[0..20] + '..' : object.content}
            </a>
        #{/crud.custom}
        #{crud.custom 'mobile'}
            ${object.content}
        #{/crud.custom}
    #{/crud.table}
    </div>
    <div id="crudListPagination">
    #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">新增</a>
    </p>

</div>