#{extends 'main.html'/}
#{set 'title'}
关于我们
#{/set}
#{set 'moreStyles'}
    #{stylesheet 'footer_css.css'/}
#{/set}
<div class="foot_content">
    <!--banner B-->
    <div class="f_banner">
        <img src="@{'public/images/banner02.gif'}" />
    </div>
    <div class="mypos fsong">
        <a href="/">首页</a>&gt;关于我们
    </div>
    <!--banner E-->

    <!--middle B-->
    <div class="p_middle">
        <div class="p_middle_left" id="knowqqleft">
            #{render 'HelpCenters/menu.html'/}
        </div>
        <div class="p_middle_right">
            <div class="p_title"><p><em>&#8226;</em>关于我们</p></div>
            <div class="p_con">
                <img src="/public/images/p_first.gif" />
                <div class="ab_con_middle">
                    <p>子贵网（ www.ziguiw.com）——子承厚望  贵修举国，顺应教育信息化浪潮而生。</p>
                    <hr style="margin:8px;"/>
                    <div class="ab_con_w">
                        <p>通过采用"一人一空间"形式，打造成集管理、教研、教学、学习、娱乐、分享、互动交流于一体的中国最大的孩子成长信息、教育资源门户云平台。子贵网不仅为全国家长提供孩子的考勤、作业、成绩等服务，为孩子的安全、学习信息提供有效参考，而且通过整合优质的教学资源，为全国高中小学各学科教师提供展示教学水平、实现教育资源交易、优质教育资源共享的平台。打破教室、教师、校园的界限，实现真正的校校互通、班班互联、资源共享。全面提升教育教学质量，引导孩子健康成长。 </p>
                    </div>
                </div>
                <img src="/public/images/p_last.gif" />
            </div>

            <div class="p_con">
                <img src="/public/images/p_first.gif" />
                <div class="ab_con_middle">
                    <p>网站的栏目功能：</p>
                    <hr style="margin:8px;"/>
                    <div class="ab_con_w">
                        <p><strong>教育在线：</strong>致力于打造最大的教育资讯平台。面向全国高中小院校及家长、教师等各类用户提供及时、权威的教育新闻，发布升学考试政策，关注校园动态，追踪新闻热点。频道下设：焦点话题报道、校园新闻、升学考试指南及择校等教育行业资讯栏目； </p>
                        <p><strong>教育知识：</strong>一个专业的教育知识平台，提供丰富的教育孩子健康成长的知识，分享孩子教育经验及心得，帮助学校及家长正确认识孩子教育方法，让孩子健康成长。频道下设：幼儿期、少儿期、青年期教育引导及同龄同城圈探讨、育儿问答、心理咨询、话题辩论等交流平台； </p>
                        <p><strong>教育资源：</strong>为全国高中小学各学科教师提供展示教学、实现教育资源交易的平台。打破教室、教师、校园的界限，实现校校互通、班班互联、资源共享。栏目针对高中小院校的各科目及各年级的不同进行资源的分类展示。 </p>
                        <p><strong>互动社区：</strong>秉承为学生健康成长提供一个绿色的网络交流平台经营理念，实时为学生家长解答学习问题，用户可在线交流学习经验及技巧，还专门为需要帮助的贫困孩子开通爱心通道等； </p>
                        <p><strong>我的小家：</strong>用户的一人一空间栏目。用户可以在自己的空间写日记，记录心情、建立相册上传照片、还可以交友互动、给好友留言等。子贵网还为学生用户准备了智力游戏，引导孩子增强学习主动性，并促进情商和智商的健康全面发展； </p>
                        <p><strong>数字校园功能：</strong>家长及老师用户登录子贵网即可免费查询到孩子的学籍档案、考勤查询、到校/离校时间、老师布置的家庭作业、考试成绩、健康状况、成长足迹、学校/老师发布的通知、在校的消费信息等。既优化了教育管理，又搭建起了家长、学校、老师和学生四方信息的平台，增进了家校交流。 </p>
                    </div>
                </div>
                <img src="/public/images/p_last.gif" />
            </div>

        </div>
    </div>
    <!--middle E-->

</div>
