#{extends 'main.html'/}
#{set 'title'}
版权所有
#{/set}
#{set 'moreStyles'}
    #{stylesheet 'footer_css.css'/}
#{/set}
<div class="foot_content">
    <!--banner B-->
    <div class="f_banner">
        <img src="@{'public/images/banner02.gif'}" />
    </div>
    <div class="mypos fsong">
        <a href="#">子贵首页</a>  &gt;版权所有
    </div>
    <!--banner E-->

    <!--middle B-->
    <div class="p_middle">
        <div class="p_middle_left" id="knowqqleft">
        #{render 'HelpCenters/menu.html'/}
        </div>
        <div class="p_middle_right">
            <div class="p_title"><p><em>&#8226;</em>版权所有</p></div>
            <div class="p_con">
                <img src="/public/images/p_first.gif" />
                <div class="copy_con_middle">
                    <p>声明如下：</p>
                    <hr style="margin:8px;"/>
                    <div class="copy_con_w">
                        <p><strong>版权声明：</strong></p>
                        <p>湖南爱瑞杰科技发展股份有限公司（以下简称"爱瑞杰"）对其发行的或与合作公司共同发行的包括但不限于产品或服务的全部内容及爱瑞杰网站上的材料拥有版权等知识产权，受法律保护。</p>
                        <p>未经本公司书面许可，任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</p>
                        <p>凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。
                            本公司法律事务部受本公司指示，特此郑重法律声明！</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>商标声明：</strong></p>
                        <p>爱瑞杰等商标为本公司或关联公司注册商标或商标，受法律保护，侵权必究。</p>
                        <p>未经本公司或商标权人书面许可，任何单位及个人不得以任何方式或理由对该商标的任何部分进行使用、复制、修改、传播、抄录或与其它产品捆绑使用销售。</p>
                        <p>凡侵犯本公司商标权的，我公司必依法追究其法律责任。</p>
                        <p>本公司法律事务部受本公司指示，特此郑重法律声明！</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong> 隐私权声明：</strong></p>
                        <p>	  爱瑞杰对保护您的个人隐私的保护。有时候我们需要某些信息才能为您提供您请求的服务，本隐私权声明解释了这些情况下的数据收集和使用情况。本隐私权声明适用于爱瑞杰网站的所有相关服务。</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>您个人信息的搜集：</strong></p>
                        <p>当我们需要能识别您身份的信息（个人信息）或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册爱瑞杰会员或其他爱瑞杰在线服务时，我们会请求您提供这些信息。爱瑞杰搜集的信息通常仅限于您的姓名、性别、年龄、出生日期、身份证号、家庭住址、教育程度、公司情况、所属行业、兴趣爱好等。</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>控制您的个人信息：</strong></p>
                        <p>爱瑞杰会在法律要求或符合爱瑞杰网站的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：(a) 满足法律的明文规定，或者符合爱瑞杰或本站点适用的法律程序；（b）符合爱瑞杰网站相关服务条款、软件许可使用协议的约定；(c) 保护爱瑞杰及其系列 Web 站点的权利或财产，以及 (d) 在紧急情况下保护爱瑞杰员工、爱瑞杰产品或服务的用户或大众的个人安全。</p>
                        <p>爱瑞杰不会未经允许将这些信息与第三方共享，本声明已经列出的情况除外。</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>您个人信息的安全：</strong></p>
                        <p>严格保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。如果您对我们的隐私保护有任何置疑，请email至kf@ziguiw.com。</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>对青少年个人信息的搜集和使用：</strong></p>
                        <p>爱瑞杰非常重视对青少年个人信息搜集和使用的安全性和保护。腾讯建议，任何16岁以下的未成年人参加网上活动应事先取得家长或其法定监护人（以下简称"监护人"）的书面同意。</p>
                        <p>未经监护人事先同意，爱瑞杰不会使用青少年的个人信息，也不会向任何第三方透露可识别的信息，除非是为了向青少年提供服务之必要。 经监护人同意，爱瑞杰可以搜集青少年的个人信息，但监护人有权拒绝爱瑞杰进一步搜集其子女或被监护人的个人信息，有权审阅或要求爱瑞杰删除该青少年的个人信息。</p>
                        <p>爱瑞杰保证不会要求青少年提供额外的个人资料，以作为允许其参与网上活动的条件。</p>
                    </div>

                    <div class="copy_con_w">
                        <p><strong>关于免责：</strong></p>
                        <p>就下列相关事宜的发生，爱瑞杰不承担任何法律责任：</p>
                        <p>1.爱瑞杰根据法律规定或相关政府的要求提供您的个人信息；</p>
                        <p>2.由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因爱瑞杰原因导致的个人信息的泄漏；</p>
                        <p>3.任何第三方根据爱瑞杰各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；</p>
                        <p>4.任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；因不可抗力导致的任何后果；</p>
                        <p>5.爱瑞杰在各服务条款及声明中列明的使用方式或免责情形。</p>
                        <p>爱瑞杰会不时更新本隐私权声明。更新时，我们还会修改隐私权声明顶部的"最近更新"的日期。</p>
                        <p style="text-align:right;">湖南爱瑞杰科技发展股份有限公司</p>
                        <p style="text-align:right;">二零一二年九月三日</p>
                    </div>

                </div>
                <img src="/public/images/p_last.gif" />
            </div>


        </div>
    </div>
    <!--middle E-->

</div>
<!--content E -->

