
    <ul id="centerleft">
        <li><a href="/helpCenter/aboutus" id="on">关于子贵网</a></li>
        <li><a href="/HelpCenters/contract">服务协议</a></li>
        <li><a href="/HelpCenters/service">客服中心</a></li>
        <li><a href="/HelpCenters/feedback">意见反馈</a></li>
        <li><a href="/HelpCenters/recruit">网站招聘</a></li>
        <li><a href="/HelpCenters/map">网站地图</a></li>
        <li><a href="/HelpCenters/contact">联系我们</a></li>
        <li><a href="/HelpCenters/copyright">版权所有</a></li>
        <li><a href="/HelpCenters/helpcenter">帮助中心</a></li>
        <li><a href="http://dsis.ziguiw.com/topic/cloud/footmark_two.jsp">轨迹查询</a></li>
        <li><a href="http://dsis.ziguiw.com/topic/cloud/index.jsp">数字校园云服务展会专题</a></li>
    </ul>
